header img {
    position: absolute;
    z-index:1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100vw;
    min-height: 100%;
    opacity: 0.7;
}

div.logo {position: absolute;
    z-index:2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 font-family: 'Yesteryear', cursive; 
  font-size: 90px;
  color:white;
    }

@media only screen and (min-width: 700px) {
 
div.logo {  
    top: 10%;
    left: 5%;
    transform: translate(0%,0%);
   font-size: 80px;
}}
    
